body {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2.5% !important;
  padding-bottom: 2.5% !important;
}

.error {
  color:#e52d2d;
  text-align: center;
  font-size: 14px;
}
